@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
body {
  background-image: url('/newbg.jpg');
  background-size: cover; /* Ensures the image covers the entire body */
  background-repeat: no-repeat; /* Prevents the image from repeating */
  background-position: center; /* Centers the image */
  font-family:Montserrat;
}